DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/palpitte?schema=public"
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Palpitte"
